<!DOCTYPE html>
<html>
<head>
<style>
div.polaroid {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
@media only screen and (min-width: 1100px) {
  div.polaroid {
    max-width: 900px;
    margin: auto;
  }
}
div.container {
    background-color: whitesmoke;
  padding: 10px;
}
</style>
</head>
<body style="background-color: black;">
<h1 style="text-align: center; color: whitesmoke;">WELCOME STALKERS</h1>
<div class="polaroid">
  <img src="https://lh3.googleusercontent.com/proxy/ht_Ar1_Y9xZR399J6LRrPhkmwcWwfW-tymACb_mYHSzQ7whynwbdgEY4pdov2R1I6HoNYLlWAWhsV916SL-VoRfktFSCFaHqvnk" alt="Norway" style="width:100%">
  <div class="container">
    <p style="font-size: larger;">DJ VANNY</p>
  </div>
</div>
</body>
</html>
